$whitefont: #FFFFFF;
$sideberheader: #253142;
$sideber: #2f3e52;
$headergroup: #333333;
$headerusers: #FFFFFF;
$chatname: #434A54;
$chatmessage: #434A54;
$chatdate: #999999;
$flashmessage: #38aef0;
$mainborder: #eeeeee;
$mainbackground: #aaaaaa;
$bluefont: #38aef0;
