.chat-user
  %h5.chat-user__name-title hikaru
  .chat-user__actions.clearfix
    %a.chat-user__actions__write
      %i.fa.fa-pencil-square-o
    %a.chat-user__actions__settings
      %i.fa.fa-cog

%ul.chat-groups
  %li.chat-group.clearfix
    %p.chat-group__name VR
    %p.chat-group__message unity
